---
import { useTranslations, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(new URL(Astro.url));
const t = useTranslations(lang);

const yearThatIStartedToWork = 2023;
const currentYear = new Date().getFullYear();
const yearsOfExperience = currentYear - yearThatIStartedToWork;

const replaceYearsOfExperience = (str: string) =>
  str.replace("{{yearsOfExperience}}", yearsOfExperience.toString());
---

<section class="p-4 bg-slate-200 md:py-8">
  <div class="container mx-auto max-w-[800px]">
    <h2
      class="text-3xl font-bold mb-4 md:mb-8 tracking-tighter sm:text-5xl xl:text-6xl/none md:text-center"
    >
      {t("about.title")}
    </h2>
    <div class="text-pretty text-slate-600 px-2 flex flex-col gap-4 md:text-xl">
      <p>
        {t("about.description.0")}

        <p>
          {replaceYearsOfExperience(t("about.description.1"))}
        </p>
        <p>
          {t("about.description.2")}
        </p>
      </p>
    </div>
  </div>
</section>
