---
import FileDocument from "../components/icons/FileDocument.astro";
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import LangSwitch from "../components/LangSwitch.astro";

import { useTranslations, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(new URL(Astro.url));
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://raw.githubusercontent.com/GrajalesU/portfolio/main/public/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Juan Manuel Grajales</title>
    <meta name="description" content={t("seo.description")} />
  </head>
  <body class="font-display antialiased">
    <header
      class="sticky top-0 z-50 w-full border-b border-stone-300 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
    >
      <navigation class="container mx-auto max-w-6xl flex justify-between">
        <h1 class="block px-4 py-2 md:px-8 md:py-4 text-stone-600">
          <strong class="pr-2 text-stone-950">Portfolio</strong>
          <span class="md:text-lg font-bold text-stone-600"
            >Juan Manuel Grajales</span
          >
        </h1>
        <LangSwitch />
        <ul
          class="hidden md:flex items-center gap-4 px-4 py-2 md:px-8 md:py-4 md:min-w-[540px] text-stone-950"
        >
          <li>
            <a
              href="#about"
              class="group px-2 py-1 rounded-md hover:bg-stone-50 transition-colors duration-200"
            >
              <span
                class="group-hover:text-stone-900 transition-colors md:text-lg"
                >{t("about.title")}</span
              >
            </a>
          </li>
          <li>
            <a
              href="#projects"
              class="group px-2 py-1 rounded-md hover:bg-stone-50 transition-colors duration-200"
            >
              <span
                class="group-hover:text-stone-900 transition-colors md:text-lg"
                >{t("projects.title")}</span
              >
            </a>
          </li>
          <li>
            <a
              href="#skills"
              class="group px-2 py-1 rounded-md hover:bg-stone-50 transition-colors duration-200"
            >
              <span
                class="group-hover:text-stone-900 transition-colors md:text-lg"
                >{t("skills.title")}</span
              >
            </a>
          </li>
          <li>
            <a
              href="#contact"
              class="rounded-md bg-stone-900 text-white px-4 py-2 md:px-6 md:py-3 hover:bg-stone-800 transition-colors duration-200 md:text-lg"
              >{t("contact.title")}</a
            >
          </li>
        </ul>
      </navigation>
    </header>
    <main class="bg-[#f8fafc]">
      <slot />
    </main>
    <div
      class="fixed md:right-0 md:top-1/2 md:-transtone-y-1/2 md:border-l md:border-t md:border-b md:rounded-l-lg md:bg-white/95 md:backdrop-blur supports-[backdrop-filter]:md:bg-white/60 bottom-0 flex md:flex-col px-4 py-2 justify-between z-50 w-full md:w-auto border-t border-stone-300 bg-white gap-2 md:gap-4 md:justify-normal md:h-fit"
      id="fixed-contact-info"
    >
      <a
        href="/Juan_Manuel_Grajales__Hoja_de_vida.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="group flex gap-2 text-xs items-center font-bold hover:bg-stone-50 rounded-md px-2 py-1 transition-colors"
      >
        <span class="group-hover:scale-110 transition-transform">
          <FileDocument />
        </span>
        CV
      </a>
      <a
        href="https://www.linkedin.com/in/juan-manuel-grajales-urquijo/"
        target="_blank"
        rel="noopener noreferrer"
        class="group flex gap-2 text-xs items-center font-bold hover:bg-stone-50 rounded-md px-2 py-1 transition-colors"
      >
        <span class="group-hover:scale-110 transition-transform">
          <LinkedIn />
        </span>
        LinkedIn
      </a>
      <a
        href="https://github.com/grajalesu"
        target="_blank"
        rel="noopener noreferrer"
        class="group flex gap-2 text-xs items-center font-bold hover:bg-stone-50 rounded-md px-2 py-1 transition-colors"
      >
        <span class="group-hover:scale-110 transition-transform">
          <GitHub />
        </span>
        GitHub
      </a>
    </div>
  </body>
</html>

<style>
  #fixed-contact-info {
    transition: opacity 300ms ease-in-out;
  }
</style>

<script>
  import emailjs from "@emailjs/browser";
  emailjs.init({
    publicKey: "user_nLXDuX67AXZpzs2nKdVKZ",
  });
</script>

<script>
  function checkOverlap() {
    const fixedContactInfo = document.getElementById("fixed-contact-info");
    const swiperButtonNext = document.getElementById("swiper-button-next");

    if (!fixedContactInfo || !swiperButtonNext) return;

    const contactRect = fixedContactInfo.getBoundingClientRect();
    const nextButtonRect = swiperButtonNext.getBoundingClientRect();

    const isOverlapping =
      contactRect.right >= nextButtonRect.left &&
      contactRect.left <= nextButtonRect.right &&
      contactRect.bottom >= nextButtonRect.top &&
      contactRect.top <= nextButtonRect.bottom;

    fixedContactInfo.style.opacity = isOverlapping ? "0" : "1";
    fixedContactInfo.style.zIndex = isOverlapping ? "-1" : "50";
  }

  requestAnimationFrame(checkOverlap);
  window.addEventListener("resize", checkOverlap);
  window.addEventListener("scroll", checkOverlap);
</script>
